@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: black;
}

#main-header {
    background-color: #000000;
    /* Black color */
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    /* Space between nav-left, logo, and nav-right */
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left a,
.nav-right a {
    color: #ffffff;
    text-decoration: none;
    padding: 14px 16px;
}

.nav-left a:hover,
.nav-right a:hover {
    text-decoration: underline;
}

.logo img {
    max-height: 50px;
    /* Adjust logo size */
}

main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(184, 179, 179), #de75f8, rgb(255, 64, 191), #de75f8, rgb(177, 171, 171));
}

.contact-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    border-radius: 15px;
    margin-bottom: 10px;
}

.contact-container form {
    width: 700px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: black;
    backdrop-filter: blur(10px);
}

.contact-container form h1 {
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.contact-container form input[type="text"],
.contact-container form input[type="email"],
.contact-container form input[type="url"] {
    width: calc(50% - 20px);
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 20px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    margin-right: 20px;
}

.contact-container form input::placeholder {
    color: #ddd;
}

.contact-container form h4 {
    color: #fff;
    font-weight: 300;
    width: 100%;
    margin-top: 20px;
}

.check {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.check div {
    display: flex;
    align-items: center;
    color: #fff;
}

.check input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.check label {
    font-size: 16px;
    font-weight: 300;
}

.contact-container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: calc(100% - 20px);
    height: 80px;
    margin-top: 20px;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(194, 194, 194, 0.713);
}

.contact-container form #button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-container form #button:hover {
    opacity: 0.7;
}

.messagecont {
    width: 700px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: #000000;
    backdrop-filter: blur(10px);
    text-align: center;
}

.messagecont .message {
    color: #fff;
}

.messagecont .message h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
}

.messagecont .message p {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.messagecont .message h5 {
    font-size: 20px;
    margin-top: 20px;
    color: white;
}

.messagecont .message a {
    color: white;
    font-size: 16px;
    margin-left: 5px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.messagecont .message a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.messagecont .message a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}


footer {
    margin-top: 15px;
}

.footer2 {
    height: 300px;
    color: #cccccc;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

ul a:hover {
    color: white;
    text-decoration: underline;
}

ul p {
    font-weight: 600;
}

ul {
    margin-top: 50px;
}

ul div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30px;

}

ul div a img {
    height: auto;
    width: 25px;
    margin-top: 10px;
}


.logoimg {
    background-image: url(images/M\ logo.jpeg);
    background-size: contain;
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.notification.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.line {
    height: 10px;
    width: 100%;
    background-color: white;
}