@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6a0dad;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container form {
    width: 700px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.container form h1 {
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.container form input[type="text"],
.container form input[type="email"],
.container form input[type="url"] {
    width: calc(50% - 20px);
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 20px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    margin-right: 20px;
}

.container form input::placeholder {
    color: #ddd;
}

.container form h4 {
    color: #fff;
    font-weight: 300;
    width: 100%;
    margin-top: 20px;
}

.check {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.check div {
    display: flex;
    align-items: center;
    color: #fff;
}

.check input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.check label {
    font-size: 16px;
    font-weight: 300;
}

.container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: calc(100% - 20px);
    height: 80px;
    margin-top: 20px;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(194, 194, 194, 0.713);
}

.container form #button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.container form #button:hover {
    opacity: 0.7;
}

.messagecont {
    width: 700px;
    padding: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
}

.messagecont .message {
    color: #fff;
}

.messagecont .message h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.messagecont .message p {
    font-size: 16px;
    margin-bottom: 10px;
}

.messagecont .message a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
}

.messagecont .message a:hover {
    color: black;
}

footer {
    margin-top: 15px;
}

.footer2 {
    height: 300px;
    color: #cccccc;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

ul a:hover {
    color: white;
    text-decoration: underline;
}

ul p {
    font-weight: 600;
}

ul {
    margin-top: 50px;
}

ul div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30px;

}

ul div a img {
    height: auto;
    width: 25px;
    margin-top: 10px;
}


.logoimg {
    background-image: url(images/M\ logo.jpeg);
    background-size: contain;
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.notification.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}