.container {
    display: flex;
    background: #2a2a2a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    margin: 20px auto; /* Centering the container */
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #1a1a1a;
    width: 20%;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 400px; /* Example max height, adjust as needed */
}

.image-section img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border: 1px solid #d24ff6;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.main-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    width: 40%;
    padding: 20px;
}

.main-image {
    width: 100%;
    max-width: 500px;
    height: 600px;
    margin-bottom: 20px;
    border: 1px solid #d24ff6;
    border-radius: 5px;
    object-fit: cover;
}

.details-section {
    padding: 0px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Align items to the start */
}

.details-section h2 {
    margin-top: 0;
    font-size: 32px;
    color: #d24ff6;
}

.details-section p {
    font-size: 16px;
    margin: 10px 0;
}

.rating {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
}

.rating .fas {
    color: gold;
    font-size: 24px;
    margin-right: 5px;
}

.rating .empty-star {
    color: lightgray;
}

.book-now-btn {
    background-color: #6a0dad;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.book-now-btn:hover {
    background-color: #520a71;
}

.container {
    margin-top: 13vh;
}
