/* Header style */
#main-header {
    background-color: #000000;
    /* Black color */
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    /* Space between nav-left, logo, and nav-right */
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left a,
.nav-right a {
    color: #ffffff;
    text-decoration: none;
}

.nav-left a:hover,
.nav-right a:hover {
    text-decoration: underline;
}

.logo img {
    max-height: 50px;
    /* Adjust logo size */
}

.user-menu {
    position: relative;
    display: inline-block;
    margin-left: 0.6rem;
}

.user-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.user-icon:hover {
    transform: scale(1.1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    right: 0;
    top: 100%;
    min-width: 160px;
    padding: 0.5rem;
}

.dropdown-menu a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.user-menu:hover .dropdown-menu {
    display: block;
}