/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* General Body Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

/*Fixed Header*/
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

*/ body {
    padding-top: 56px;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
    }
}



h4 {
    font-size: 50px;
}

.main-container {

    height: fit-content;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
}

.main-item {
    width: 400px;
    padding: 30px;
    box-shadow: 20px 20px 50px rgba(53, 48, 48, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    display: flex;
}

.maincard {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-left: 25px;
}

.line {
    height: 10px;
    width: 100%;
    background-color: white;
}


/* Portfolio Section */
#portfolio {
    padding: 50px 0;
    text-align: center;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.portfolio-item {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item h3 {
    margin: 0;
    padding: 10px;
    background: #000;
    color: #fff;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

/* Project Detail Section */
#project-detail {
    padding: 50px 0;
    text-align: center;
}

.project-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.project-container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Media Queries for Header */
@media (max-width: 600px) {

    .nav-left a,
    .nav-right a {
        padding: 10px 12px;
    }
}

/* Ensure the video covers the entire container */
.video-container {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, white, #de75f8, rgb(255, 64, 191), #de75f8, white);

}


/* Style the overlay text */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* Adjust the text color as needed */
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    /* Optional: add a dark overlay to improve text readability */
}

.overlay h1 {
    font-size: 3rem;
    /* Adjust font size as needed */
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.5rem;
    /* Adjust font size as needed */
    margin-bottom: 20px;
}

.hero-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff4081;
    /* Adjust button color as needed */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    /* Remove underline from link */
    display: inline-block;
}

.hero-button:hover {
    background-color: #ff79a8;
    /* Adjust button hover color as needed */
}


/* About Modelens Section */
.about-modelens {
    background-color: #000000;
    padding: 50px;
    text-align: center;
    color: #ffffff;
}

.about-modelens h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-modelens p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.about-stats {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 3em;
    color: #d24ff6;
}

.stat p {
    font-size: 1.2em;
}

.logos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.company-logo {
    max-width: 600px;
    margin: 10px 20px;
}


/* Work Gallery Section */
.section {
    background-image: linear-gradient(to bottom right, rgb(184, 179, 179), #de75f8, rgb(255, 64, 191), #de75f8, rgb(177, 171, 171));
    padding: 20px;
    text-align: center;
    color: white;
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
}

ul {
    display: flex;
    width: calc(80% - 2rem);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    padding: 0;
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
}

ul:is(:hover, :focus-within) img {
    opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
    filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
}

a {
    outline-offset: 4px;
}

li {
    flex: calc(0.1 + (var(--active-lerp, 0) * 1));
    transition: flex 0.2s ease;
}

li:is(:hover, :focus-within) {
    --active-lerp: var(--lerp-0);
    z-index: 7;
}

li:has(+ li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li {
    --active-lerp: var(--lerp-1);
    z-index: 6;
}

li:has(+ li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li {
    --active-lerp: var(--lerp-2);
    z-index: 5;
}

li:has(+ li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li {
    --active-lerp: var(--lerp-3);
    z-index: 4;
}

li:has(+ li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li+li {
    --active-lerp: var(--lerp-4);
    z-index: 3;
}

li:has(+ li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li+li+li {
    --active-lerp: var(--lerp-5);
    z-index: 2;
}

li:has(+ li + li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within)+li+li+li+li+li+li {
    --active-lerp: var(--lerp-6);
    z-index: 1;
}

@keyframes rotate {
    from {
        transform: perspective(1200px) rotateY(0deg);
    }

    to {
        transform: perspective(1200px) rotateY(360deg);
    }
}

.gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}

.gallery span img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Services Section */
#services {
    text-align: center;
    padding: 70px 20px;
    background-color: #000000;
    color: #ffffff;
}

#services .service-links {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    position: relative;
}

#services .service-link {
    width: 300px;
    height: 350px;
    border: 1px solid #333;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

#services .service-link:hover {
    background-color: #a86db4;
}

#services .service-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

#services .service-link:hover img {
    opacity: 0.8;
}

#services .service-link span {
    padding: 10px;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 2px #000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* The Process Section */
.process-section {
    background-image: linear-gradient(to bottom right, rgb(221, 213, 213), #de75f8, rgb(255, 64, 191), #de75f8, rgb(221, 213, 213));
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.process-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.process-steps {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.step {
    flex: 1;
    margin: 10px;
    max-width: 300px;
    position: relative;
    text-align: left;
    position: relative;
}

.step {
    text-align: center;
    margin: 20px;
    max-width: 250px;
}

.step-number {
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    position: relative;
}

.step-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-description {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.circle-container {
    position: absolute;
    top: 0px;
    /* Adjust as needed */
    left: 200px;
    /* Adjust as needed */
    display: flex;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 20px;
    margin-top: 20px;
}

.process-dots {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: -1;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}


/* General Section Style */
section {
    display: grid;
    place-items: center;
    position: relative;
    background-color: #000000;
    padding: 50px 0;
    /* Add padding for spacing between sections */
}


/* Upcoming Events Section */
#event-header {
    background-color: #000000;
    color: #8A2BE2;
    padding: 50px 20px;
    text-align: center;
}

#event-header h1 {
    font-size: 3em; /* Increased font size */
    color: #8A2BE2;
}

#events {
    text-align: center;
    padding: 50px 20px;
    background-color: #000000;
    color: #ffffff;
}

#events header h2 {
    font-size: 2.5em; /* Increased font size for "Upcoming Events" */
    color: #8A2BE2;
    margin-bottom: 40px;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.event {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1 1 calc(45% - 40px);
    max-width: calc(45% - 40px);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left; /* Align text to the left */
}

.event:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.event h3 {
    font-size: 1.8em; /* Larger than details but smaller than "Upcoming Events" */
    color: #8A2BE2;
}

.event p {
    margin: 10px 0;
}

.event strong {
    color: #9370DB;
}

.register-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #8A2BE2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #9370DB;
}


/* Testimonials Section */
.testimonials {
    color: #6a0dad;
    /* Purple text */
    text-align: center;
    padding: 50px 20px;
}

.testimonial {
    margin: 20px;
}

.swiper-container {
    border-radius: 5px;
    width: 70vw;
    overflow: hidden;
    height: fit-content;
    position: relative;
    padding-bottom: 50px;
    font-family: sans-serif;
}

.swiper-slide {
    width: auto;
    height: fit-content;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px;
    font-family: Nunito;
    background-color: black;
}

.ImgHolder {
    background-color: #6a0dad;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px;
    border-bottom-left-radius: 20px;
}

.ContentHolder::before {
    background-color: black;
    content: '';
    position: absolute;
    top: -5px;
    z-index: -1;
    right: 0px;
}

.ContentHolder {
    position: relative;
    padding: 10px;
    background-color: black;
    color: white;
    border-top-right-radius: 20px;
    text-align: center;
}

.swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
    border: 1px solid #4361ee;
}

.swiper-pagination-bullet-active {
    background-color: #6a0dad;
}

.swiper-button {
    border: 1px solid white;
}

.swiper-slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    border: 3px solid #4361ee;
    outline: 2px solid white;
}

.swiper-slide h3 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}

.swiper-slide p {
    font-size: 0.9rem;
    padding: 5px;
    text-align: center;
}

.ContentHolder p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Show only two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.show-more-btn {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 5px;
}

.show-more-btn:hover {
    background-color: #5a0dab;
}

@media (max-width: 638px) {
    .swiper-container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .swiper-container {
        width: 70vw;
    }
}

@media (max-width: 300px) {
    .swiper-container {
        width: 100%;
    }

    .swiper-slide {
        border-radius: 0px;
    }

    .swiper-container .ImgHolder {
        border-radius: 0px;
    }

    .ContentHolder {
        border-radius: 0px;
    }
}


/* Footer Styles */
footer {
    margin-top: 15px;
}

.footer2 {
    height: 300px;
    color: #cccccc;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.footersection a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

.footersection a:hover {
    color: white;
    text-decoration: underline;
}

.footersection p {
    font-weight: 600;
}

.footersection {
    margin-top: 50px;
}

.footersection div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30px;

}

.footersection div a img {
    height: auto;
    width: 25px;
    margin-top: 10px;
}


.logoimg {
    background-image: url(images/M\ logo.jpeg);
    background-size: contain;
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.notification.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


/* Base Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-left, .nav-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }

    .logo img {
        width: 150px; /* Adjust logo size */
        margin: 0 auto 15px auto;
    }

    .service-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-link {
        margin-bottom: 15px;
    }

    .work-gallery ul.results {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .result {
        margin-bottom: 15px;
    }

    .process-steps {
        flex-direction: column;
    }

    .process-steps .step {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .overlay h1 {
        font-size: 24px;
    }

    .overlay p {
        font-size: 16px;
    }

    .hero-button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .company-logo {
        width: 80%; /* Adjust company logo size */
    }

    .step-title {
        font-size: 18px;
    }

    .step-description {
        font-size: 14px;
    }
}


