@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    color: white;
}

h2 {
    width: 500px;
    margin: 0 auto;
    display: table;
    margin-top: 70px;
    text-align: center;
}

h1 {

    width: 500px;
    margin: 0 auto;
    display: table;
    text-align: center;
    margin-bottom: 50px;
}

.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container header {
    width: 1000px;
    padding: 30px;
    box-shadow: 20px 20px 50px rgba(53, 48, 48, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    display: flex;

}

.founder {
    background-image: url(images/Kashish\ Raizada\ _\ Founder\ &\ CEO.jpg);
    background-size: cover;
    height: 350px;
    width: 300px;
    display: block;
    background-size: cover;
    margin: 0 auto;
    margin-top: 30px;
}

.aboutfounder {
    width: calc(50% - 20px);
    margin: 0 auto;
    margin-top: 15px;
}

.aboutfounder p {
    margin-bottom: 15px;
}

.foundername {
    display: block;
    width: calc(50% - 50px);
    margin-top: 10px;
    float: left;
    margin-left: 50px;
}

.foundername h5 {
    font-size: 18px;
}

.containerblock {

    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
}

.teamblock {
    width: 300px;
    padding: 30px;
    box-shadow: 20px 20px 50px rgba(53, 48, 48, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    display: flex;
}

.card {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-left: 25px;
}

.name {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: 800;
}

.position {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}


.team-image-wrapper {
    clip-path: circle(50% at 50% 50%);
    width: 130px;
    height: 130px;
}

.team-member-image {
    max-width: 100%;
}

footer {
    margin-top: 15px;
}

.footer2 {
    height: 300px;
    color: #cccccc;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

ul a:hover {
    color: white;
    text-decoration: underline;
}

ul p {
    font-weight: 600;
}

ul {
    margin-top: 50px;
}

ul div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30px;

}

ul div a img {
    height: auto;
    width: 25px;
    margin-top: 10px;
}


.logoimg {
    background-image: url(images/M\ logo.jpeg);
    background-size: contain;
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.notification.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.line {
    height: 10px;
    width: 100%;
    background-color: white;
}